/*!
    Title: Dev Portfolio Template
    Version: 1.2.1
    Author: Ryan Fitzgerald (modified by Samarth Kishor)
    Repo: https://github.com/RyanFitzgerald/devportfolio-template
    Issues: https://github.com/RyanFitzgerald/devportfolio-template/issues

    Description: This file contains all the styles associated with the page
    that don't come from third party libraries.
*/

body {
  font-family: Optima, Candara, Calibri, Arial, sans-serif;
  max-width: 1000px;
  margin: auto;
  padding: 1em;
  line-height: 1.5;
}

body.active {
  overflow: hidden;
  z-index: -1;
}

/* div.navbar { */
/*   margin: 30px auto 0px auto; */
/*   dislpay: inline-block; */
/*   padding: 10px; */
/*   background: #d8dee9; */
/* } */
.menu { padding: 0; text-align: center; }
.menu li { display: inline-block; }
.article-meta, .menu a {
  text-decoration: none;
  background: #eee;
  padding: 5px;
  border-radius: 5px;
}
hr {
  border-style: dashed;
  color: #ddd;
}

#about-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 25px 10px;
  text-align: center;
}

h1.name {
  font-size: 2em;
  font-weight: 300;
  color: #434c5e;
  text-align: center;
  position: relative;
}

h1.name:after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 250px;
  border: 1px solid #81a1c1;
  border-radius: 4px;
  transform: translateX(-50%);
}

img.profile {
  border-radius: 50%;
  height: 100px;
}

h2.heading {
  font-size: 1.5em;
  font-weight: 300;
  margin: 0 0 30px 0;
  color: #434c5e;
  text-align: center;
  position: relative;
}

h2.heading:after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 150px;
  border: 1px solid #8fbcbb;
  border-radius: 4px;
  transform: translateX(-50%);
}

.about-description {
  background: #d8dee9;
  border: 1px solid #4c566a;
  padding: 15px;
  border-radius: 3px;
  text-align: left;
  max-width: 750px;
}

p.description {
  font-size: 1em;
  color: #434c5e;
}

.top {
  text-align: center;
}

.lang-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lang-header h3 h4 {
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 900px;
  margin: 0 auto 30px auto;
  overflow: hidden;
  background: #d8dee9;
  border: 1px solid #4c566a;
  padding: 15px;
  border-radius: 3px;
}

.project-image {
  display: flex;
  align-self: flex-start;
}

.project-info {
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-left: 25px;
}

.project-info h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #2e3440;
  display: inline-block;
  margin: 0 0 5px 0;
}

.project-info h4 {
  font-size: 1.2em;
  font-weight: 300;
  color: #3b4252;
  margin: 0 0 15px 0;
}

.project-info p {
  color: #434c5e;
  font-size: 1em;
  margin: 0 0 5px 0;
  text-align: left;
}

.no-image .project-info {
  position: relative;
  margin: 0;
  padding: 30px 15px;
  transform: none;
}

.skill {
  background: #d8dee9;
  border: 1px solid #4c566a;
  padding: 15px;
  border-radius: 3px;
  text-align: left;
  max-width: 750px;
  margin: 0 auto 30px auto;
}

.skill h3 {
  font-size: 1em;
  font-weight: 300;
  color: #2e3440;
  display: inline-block;
  margin: 0 0 0 0;
}

.skill h4 {
  font-size: 1em;
  font-weight: 300;
  color: #3b4252;
  margin: 0 0 15px 0;
}

.skill p {
  color: #434c5e;
  font-size: 1em;
  margin: 0 0 5px 0;
  text-align: left;
}

.skill ul {
  padding: 0 0 0 20px;
}

.skill li {
  color: #434c5e;
  font-size: 1em;
  margin: 0;
}

footer { text-align: center; }
footer a { text-decoration: none; }

@media only screen and (max-width: 992px) {
  #lead {
    height: auto;
    min-height: auto;
    max-height: auto;
    padding: 100px 15px;
  }

  #lead-content {
    position: relative;
    transform: none;
    left: auto;
    top: auto;
  }

  #lead-content h1 {
    font-size: 2em;
  }

  #lead-content h2 {
    font-size: 1em;
  }
}

@media only screen and (max-width: 768px) {
  #mobile-menu-open,
  #mobile-menu-close {
    display: block;
  }

  #menu {
    height: 100%;
    overflow-y: auto;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
  }

  #menu li {
    display: block;
    margin-bottom: 10px;
  }

  #lead-content h1 {
    font-size: 2em;
  }

  #lead-content h2 {
    font-size: 1.5em;
  }

  #lead-content a {
    padding: 10px 20px;
  }

  #lead-down {
    display: none;
  }

  .education-block h3,
  .education-block span {
    float: none;
  }

  .project-image {
    display: none;
  }

  .project-info {
    position: relative;
    margin: 0;
    padding: 30px 15px;
    top: auto;
    transform: none;
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }

  #lead-content h1 {
    font-size: 1.5em;
  }

  #lead-content h2 {
    font-size: 1em;
  }

  #lead-content a {
    font-size: 0.9em;
    padding: 5px 10px;
  }
}
* {
  box-sizing: border-box;
}
