<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Samarth's Website</title>
    <meta name="description" content="">
    <meta name="viewport" content=
    "width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <!-- <link rel="stylesheet" type="text/css" href="css/vertical-timeline.css"> -->
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to improve
            your experience.
            </p>
            <![endif]-->
    <nav>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/posts">Blog</a></li>
            <li><a href="/tags">Tags</a></li>
            <li><a href="/index.xml">RSS</a></li>
        </ul>
        <hr/>
    </nav>
    <div id="about-section">
        <img class="profile" src="/img/profile.jpg" alt="Me">
        <h1 class="name">Samarth Kishor</h1>
    </div>

    <div id="about-section">
        <h2 class="heading">About Me</h2>
        <div class="about-description">
            <p class="description">I'm an aspiring computer scientist, capoeirista,
            judoka, and urbanist living in Washington DC.</p>

            <p class="description">My main interests within the fields of
            computer science and software engineering include: programming language design and
            implementation, automated reasoning, and testing.
            I've done a bit of front- and back-end web development work in the past.</p>
        </div>
    </div>

    <div id="about-section">
        <h2 class="heading">About This Site</h2>
        <div class="about-description">
            <p class="description">This site is meant to be a personal portfolio and blog.</p>
            <p class="description">The content and layout is a work-in-progress while I figure out what I want the site to look like.</p>
        </div>
    </div>

    <footer>
        <hr/>
        © Samarth Kishor 2024 | <a href= "https://github.com/samarthkishor/resume/blob/master/Samarth_Kishor_resume.pdf" target="_blank">Resume</a> | <a href="https://github.com/samarthkishor">Github</a> | <a href= "https://linkedin.com/in/samarth-kishor" target="_blank">&nbsp;LinkedIn</a>
    </footer>
</body>
</html>
